<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Online Auction</title>
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<style type="text/css">
.form-login {
	max-width: 500px;
	margin: auto;
	border: 2px solid #CCCCCC;
	padding: 20px;
	border-radius: 10px;
}

.navbar-custom-color {
	background-color: #4CAF50;
}

.nav.navbar-nav li a {
	color: white !important;
}

.nav.navbar-nav li a:HOVER {
	color: black !important;
}

.badge {
	background-color: #b9192f;
}

.icon-bar {
	background-color: white !important;
}
</style>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/ 
var selDiv="";
document.addEventListener("DOMContentLoaded", init, false);

function init(){
	console.log("Entered init");
	document.querySelector('#MyFile').addEventListener('change',handleFileSelect,false);
	selDiv = document.querySelector('#selectedFiles');
}

function handleFileSelect(e){
	console.log("File select entered");
	if(!e.target.files || !window.FileReader) return;
	selDiv.innerHTML="";
	
	var files = e.target.files;
	var fileArr = Array.prototype.slice.call(files);
	console.log("array"+fileArr);
	fileArr.forEach(function(f){
		if(!f.type.match("image.*")){
			return;
		}
		var reader = new FileReader();
		reader.onload = function(e){
		var html = "<img src=\""+e.target.result+"\">"+f.name+"<br clear=\"left\"/>";	
		 selDiv.innerHTML += html;
		}
	}); 
	
	
	/*console.log("length"+files.length);
	for(var i=0;i < files.length;i++){
		var f = files[i];
		console.log("for loop entered");
        selDiv.innerHTML += f.name + "<br/>";
	}*/
	
}
/*]]>*/
</script>
</head>
<body>
<!-- <div th:replace="fragments/header::navigation"></div> -->
	<div class="container">
		<form action="" method="post" enctype="multipart/form-data"
			class="form-login">
			<div class="form-group">
				<button type="button" class="btn btn-success form-control" style="cursor:pointer" onclick="document.getElementById('MyFile').click();"><span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>Add Images</button>
			       <input type="file"  multiple="multiple" id ="MyFile" accept="image/*" style="display:none"/>
			  </div>
			 <div id="selectedFiles"></div>
			     <button type="submit" class="btn btn-success form-control">Save</button>
		</form>


	</div>

	<!-- https://www.raymondcamden.com/2013/09/10/Adding-a-file-display-list-to-a-multifile-upload-HTML-control -->
</body>
</html>