<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Online Auction</title>
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<style type="text/css">
.form-login {
	max-width: 500px;
	margin: auto;
	border: 2px solid #CCCCCC;
	padding: 20px;
	border-radius: 10px;
}

.navbar-custom-color {
	background-color: #4CAF50;
}

.nav.navbar-nav li a {
	color: white !important;
}

.nav.navbar-nav li a:HOVER {
	color: black !important;
}

.badge {
	background-color: #b9192f;
}

.icon-bar {
	background-color: white !important;
}
</style>
<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
	  $('#myInput').focus();
	});
	

</script>
</head>
<body>
<!-- <div th:replace="fragments/header::navigation"></div> -->
	<div class="container">
		<form action="" method="post" enctype="multipart/form-data"
			class="form-login">
			
				<button type="button" class="btn btn-success form-control" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>Add Images.</button>
			
		</form>


	</div>
<!-- Modal -->	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Images </h4>
      </div>
      <div class="modal-body">
      <form action="" method="post" enctype="multipart/form-data" >
      <button type="button" id="uploadMyFile" class="btn btn-success form-control" style="cursor:pointer" onclick="document.getElementById('MyFile').click();">Choose File</button>
      <input type="file"  multiple="multiple" id ="MyFile" name="MyFile" style="display:none"/>
      
      </form>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>	
	<!-- https://www.raymondcamden.com/2013/09/10/Adding-a-file-display-list-to-a-multifile-upload-HTML-control -->
</body>
</html>