<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" th:replace="fragments/header::head" />
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link
	href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
	rel="stylesheet" />
<link th:href="@{/css/userprofilecard.css}" rel="stylesheet" />
<link th:href="@{/css/peoplelist.css}" rel="stylesheet" />
<script
	src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script th:src="@{/js/auction/people.js}"></script>
</head>
<body>
	<div th:replace="fragments/header::navigation"></div>
	<div class="container">
		<div class="row"><!-- Search box and rows display -->
			<div class="col-md-5"><!-- number of rows -->
				<label>Show</label> <select id="rows" th:name="l" name="l">
					<option th:each="i:${#numbers.sequence(5,25,5)}" th:value="${i}"
						th:text="${i}" th:selected="${i==user_list.size}">5</option>
				</select> <label>entries</label>
			</div><!-- end of number of rows -->

			<div class="col-md-7"><!--  search box -->
				<form th:action="@{/admin/people}">
					<div class="input-group">
						<div class="input-group-btn search-panel">
							<button type="button" class="btn btn-default dropdown-toggle"
								data-toggle="dropdown">
								<span id="search_concept">Filter by</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#username">By Username</a></li>
								<li><a href="#name">By Name</a></li>
								<li><a href="#email">By Email</a></li>
							</ul>
						</div>

						<input type="hidden" name="search_param" value="username"
							id="search_param" /> <input id="query" type="text"
							class="form-control" name="q" placeholder="Search term..."
							autocomplete="on" /> <span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</form>
			</div><!-- end of search box -->
		</div><!-- end of Search box and rows display -->
		<!--display list of peoples   -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Sr. No.</th>
					<th>Name</th>
					<th>Username</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody th:if="${user_list.hasContent()}">
				<tr th:each="person,status:${user_list.content}">
					<td th:text="${status.count}">1</td>
					<td><a th:text="${person.name}" th:href="@{#__${person.username}__}">Name</a></td>
					<td th:text="${person.username}">user</td>
					<td><input type="checkbox"
						th:onchange="${'toogle('+person.userId+')'}" data-toggle="toggle"
						data-on="Active" data-off="Inactive" data-onstyle="success"
						data-style="ios slow" th:checked="${person.enabled}" /></td>
				</tr>
			</tbody>
		</table><!-- end of display list of peoples -->
		<!--pagination  -->
		<div class="text-center">
			<ul class="pagination">
				<li th:class="${!user_list.hasPrevious()}?disabled"><a href="#"
					th:href="${!user_list.hasPrevious()}?@{#}:@{''(p=__${user_list.number}__,l=${user_list.size})}">&laquo;</a></li>
				<li th:each="i:${#numbers.sequence(1,user_list.totalPages)}"
					th:class="${user_list.number+1==i}?active"><a href="#"
					th:href="@{''(p=__${i}__,l=${user_list.size})}" th:text="${i}">1</a></li>
				<li th:class="${!user_list.hasNext()}?disabled"><a href="#"
					th:href="${!user_list.hasNext()}?@{#}:@{''(p=__${user_list.number+2}__,l=${user_list.size})}">&raquo;</a></li>
			</ul>
		</div><!--end of pagination  -->
		
		<!-- user info card -->
		<div class="modal fade a-profile-card" tabindex="-1"
			role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content userprofile">
					<div>
						<img alt="background" class="background"
							src="https://static.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg" />
					</div>
					<div class="profilepic">
						<img alt="" th:src="@{http://lorempixel.com/100/100/people}"
							class="img-responsive img-circle profile" />
					</div>
					<div class="info">
						<h3 id="p-name">Samantha Grey</h3>
						<div class="desc" id="p-address">502 South Shadow Brook St. Sykesville, MD
							21784</div>
						<div class="desc" id="p-email">samantha_grey1898@armyspy.com</div>
					</div>
				</div>
			</div>
		</div>
		<!--end of user info card  -->
	</div>

</body>
</html>