<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="fragments/header::head">
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div th:replace="fragments/header::navigation"></div>
	<div class="container">
		<div class="alert alert-info" th:unless="${auction_request!=null}">
			<span class="glyphicon glyphicon-info-sign"></span> No new requests.
		</div>
		<div>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#request"
					aria-controls="home" role="tab" data-toggle="tab">Requests</a></li>
				<li role="presentation"><a href="#ongoing"
					aria-controls="profile" role="tab" data-toggle="tab">Ongoing</a></li>
				<li role="presentation"><a href="#complete"
					aria-controls="messages" role="tab" data-toggle="tab">Completed</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="request">					
						<div class="list-group">
							<div th:each="request:${auction_request}" class="list-group-item">
								<span th:text="${request.item.name}" style="font-size: 16px;">Item
									Name</span>
								<button class="btn btn-default" style="float: right;"
									data-toggle="tooltip" data-placement="left" title="Verify">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button class="btn btn-default" style="float: right;"
									data-toggle="tooltip" data-placement="left" title="Reject">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
								<button class="btn btn-default" style="float: right;"
									data-toggle="tooltip" data-placement="left" title="View Images">
									<span class="glyphicon glyphicon-picture"></span>
								</button>
								<button class="btn btn-default" style="float: right;"
									data-toggle="tooltip" data-placement="left" title="Description">
									<span class="glyphicon glyphicon-info-sign"></span>
								</button>
								<p>
									Requested By <span th:text="${request.user.name}">name
										of user</span> on <span th:text="${request.item.registrationDate}">date</span>
								</p>
							</div>
						</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="ongoing">...</div>
				<div role="tabpanel" class="tab-pane" id="complete">...</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	$('a[href="#ongoing"]').on('shown.bs.tab',function(e){
		console.log(e.target);
		$.ajax({
			url:'ongoing',
			success:function(data){
				$('#ongoing').html("<h1>HHHHH</h1>");
			},
			failure:function(data){
				
			}
		});
	});
	$('a[href="#complete"]').on('shown.bs.tab',function(e){
		console.log(e.target);
		$.ajax({
			url:'completed',
			success:function(data){
				
			},
			failure:function(e){
				
			}
		});
	});
	</script>
</body>
</html>