.userprofile .background {
	width: 100%;
	height: 150px;
	border-radius: 5px;
}

.userprofile .profilepic {
	position: relative;
	top: -50px;
	margin-bottom: -50px
}

.profilepic .profile {
	width: 100px;
	margin: auto;
	border: 5px solid rgba(255, 255, 255, 0.5);
}

.userprofile .info {
	padding: 4px 8px 10px;
}

.userprofile .info h3 {
	text-align: center;
	margin-top: 0px;
	color: #5195ad;
}

.userprofile .info .desc {
	text-align: center;
	line-height: 20px;
	color: #737373;
	overflow: hidden;
}