<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" th:replace="fragments/header::head" />
<style type="text/css">
.carousel-inner>.item>img {
	height: 500px !important;
	margin: auto;
}
</style>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
$(document).ready(function(){
	var c=[[${code}]];
	var json=JSON.parse(c);
	for(var x in json){
		var data=json[x];
		var str='';
		if(x==0)
		str='<div class="item active">';
		else
		str='<div class="item">';
		if(data.type=="upcoming"){
			var s_date=new Date(data.start);
			var e_date=new Date(data.end);
			str+='<img src="/image/'+data.image+'"/><div class="container"><div class="carousel-caption">';
			str+='<h1>'+data.name+'</h1>';
			str+='<p>From '+s_date+' to '+e_date+'</p></div></div>';
			
		}
		else if(data.type=="ongoing"){
			var e_date=new Date(data.end);
			str+='<img src="/image/'+data.image+'"/><div class="container"><div class="carousel-caption">';
			str+='<h1>'+data.name+'</h1>';
			str+='<p>Ends on '+e_date+'</p></div></div>';
		}
		str+='</div>';
		$('#auction_carousel > .carousel-inner') .append(str);
		
	}
})

        
/*]]>*/

</script>
</head>
<body>
	<div th:replace="fragments/header::navigation"></div>
	<h3></h3>
	<th:block th:if="${user_info.role}==null">
		<div id="auction_carousel" class="carousel slide" data-ride="carousel"
		style="background-color: #292525;">
		<div class="carousel-inner" role="listbox">
			
		</div>
		<a class="left carousel-control" href="#auction_carousel"
			role="button" data-slide="prev"> <span
			class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="right carousel-control" href="#auction_carousel"
			role="button" data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	</th:block>
	<th:block th:unless="${user_info.role}==null">
	<h1>Hello !!</h1>
	</th:block>
</body>
</html>