<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="fragments/header::head">
<meta charset="UTF-8" />
<title>Online Auction</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css" />
<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<style type="text/css">
.form-login {
	max-width: 500px;
	margin: auto;
	border: 2px solid #CCCCCC;
	padding: 20px;
	border-radius: 10px;
}

.navbar-custom-color {
	background-color: #4CAF50;
}

.nav.navbar-nav li a {
	color: white !important;
}

.nav.navbar-nav li a:HOVER {
	color: black !important;
}
.badge{
background-color: #b9192f;
}
.icon-bar {
	background-color: white !important;
}
</style>
</head>
<body >
<div th:replace="fragments/header::navigation"></div>
	
	<div class="container col-sm-8 col-sm-offset-2">
		<form th:action="@{register}" method="post"
			enctype="multipart/form-data" class="form-login">
			<div style="text-align: center;">
				<img alt="signup" th:src="@{images/signup_icon.png}"
					src="../static/images/signup_icon.png" class="img-circle"
					style="width: 40%"/>
			</div>
			<div class="form-group">
				<label>Username</label> <input type="text" name="username"
					placeholder="Enter username" class="form-control" />
			</div>
			<div class="form-group">
				<label>Email</label> <input type="text" name="email"
					placeholder="Enter email" class="form-control" />
			</div>
			<div class="form-group">
				<label>Password</label> <input type="password" name="username"
					placeholder="Enter password (min length 6)" class="form-control" />
			</div>
			<div class="form-group">
				<label>Confirm Password</label> <input type="password"
					name="username" placeholder="Re-enter password"
					class="form-control" />
			</div>
			<div class="form-group">
				<label>Address</label> <input type="text" name="address"
					placeholder="Enter address" class="form-control" />
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-block"
					value="Create Your Account"
					style="background-color: #4CAF50; color: white;"/>
			</div>
			<div class="form-group">
				By creating an account, you agree to our <a href="#">Terms of
					Use</a> and our <a href="#">Privacy Policy</a>.
			</div>
			<hr/>
			<h5>
				Already have an account? <a href="#">Sign In</a>
			</h5>
		</form>
	</div>
</body>
</html>